---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_GEOCODE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 14 Jan 2020 17:42:28 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY>/39.7392358,-104.990251?exclude=minutely,flags&units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 258ms
      X-Forecast-Api-Calls:
      - '31'
      X-Response-Time:
      - 92.937ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579023748,"summary":"Clear","icon":"clear-day","nearestStormDistance":10,"nearestStormBearing":270,"precipIntensity":0,"precipProbability":0,"temperature":50.5,"apparentTemperature":49.82,"dewPoint":8.93,"humidity":0.18,"pressure":1009.9,"windSpeed":5.48,"windGust":13.78,"windBearing":144,"cloudCover":0,"uvIndex":2,"visibility":10,"ozone":358},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1579021200,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":45.93,"apparentTemperature":43.22,"dewPoint":8.81,"humidity":0.22,"pressure":1011.3,"windSpeed":5.33,"windGust":11.81,"windBearing":151,"cloudCover":0,"uvIndex":1,"visibility":10,"ozone":357},{"time":1579024800,"summary":"Clear","icon":"clear-day","precipIntensity":0.0016,"precipProbability":0.01,"precipType":"rain","temperature":51.99,"apparentTemperature":51.99,"dewPoint":9.08,"humidity":0.17,"pressure":1009.4,"windSpeed":5.46,"windGust":14.25,"windBearing":137,"cloudCover":0,"uvIndex":2,"visibility":10,"ozone":358.2},{"time":1579028400,"summary":"Clear","icon":"clear-day","precipIntensity":0.002,"precipProbability":0.01,"precipType":"rain","temperature":55.75,"apparentTemperature":55.75,"dewPoint":9.32,"humidity":0.15,"pressure":1007.5,"windSpeed":5.54,"windGust":14.49,"windBearing":90,"cloudCover[...]
