---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_GEOCODE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 15 Jan 2020 01:34:56 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY>/39.7392358,-104.990251?exclude=minutely,flags&units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 193ms
      X-Forecast-Api-Calls:
      - '40'
      X-Response-Time:
      - 71.717ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579052097,"summary":"Clear","icon":"clear-night","nearestStormDistance":8,"nearestStormBearing":327,"precipIntensity":0,"precipProbability":0,"temperature":44.23,"apparentTemperature":44.43,"dewPoint":7.37,"humidity":0.22,"pressure":1009.2,"windSpeed":1.7,"windGust":3.94,"windBearing":105,"cloudCover":0.01,"uvIndex":0,"visibility":10,"ozone":353.6},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1579050000,"summary":"Clear","icon":"clear-night","precipIntensity":0.0005,"precipProbability":0.01,"precipType":"rain","temperature":46.03,"apparentTemperature":46.03,"dewPoint":7.17,"humidity":0.2,"pressure":1008.2,"windSpeed":1.73,"windGust":3.65,"windBearing":87,"cloudCover":0.01,"uvIndex":0,"visibility":10,"ozone":353.1},{"time":1579053600,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":43.05,"apparentTemperature":43.05,"dewPoint":7.4,"humidity":0.23,"pressure":1009.9,"windSpeed":2.05,"windGust":4.84,"windBearing":119,"cloudCover":0.01,"uvIndex":0,"visibi[...]
