---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY>/39.7392358,-104.990251?exclude=minutely,flags&units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 265ms
      X-Forecast-Api-Calls:
      - '186'
      X-Response-Time:
      - 77.755ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579102285,"summary":"Clear","icon":"clear-day","nearestStormDistance":7,"nearestStormBearing":270,"precipIntensity":0,"precipProbability":0,"temperature":28.18,"apparentTemperature":23.93,"dewPoint":14.89,"humidity":0.57,"pressure":1023.1,"windSpeed":3.78,"windGust":8.01,"windBearing":156,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":340.8},"hourly":{"summary":"Partly
        cloudy throughout the day.","icon":"partly-cloudy-day","data":[{"time":1579100400,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":25.52,"apparentTemperature":20.56,"dewPoint":15.43,"humidity":0.65,"pressure":1022.8,"windSpeed":4.02,"windGust":5.97,"windBearing":180,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":340.7},{"time":1579104000,"summary":"Clear","icon":"clear-day","precipIntensity":0.0015,"precipProbability":0.01,"precipType":"snow","precipAccumulation":0.0128,"temperature":31.11,"apparentTemperature":27.69,"dewPoint":14.1,"humidity":0.49,"pressure":1023.2,"windSpeed":3.46,"windGust":9.58,"windBearing":130,"cloudCover":0,"uvIndex":0,"visibility":10,"ozone":340.8},{"time":1579107600,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":36.55,"apparentTemperature":34.34,"dewPoint":11.38,"humidity":0.35,"pressure":1022.7,"windSpeed":3.1,"windGust":7.15,"windBearing":97,"cloudCover":0,"uvIndex":1,"visibility":[...]
