---
http_interactions:
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY>/39.7392358,-104.990251?exclude=minutely,flags&units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 209ms
      X-Forecast-Api-Calls:
      - '69'
      X-Response-Time:
      - 60.644ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579036770,"summary":"Clear","icon":"clear-day","nearestStormDistance":9,"nearestStormBearing":254,"precipIntensity":0,"precipProbability":0,"temperature":58.11,"apparentTemperature":58.11,"dewPoint":4.44,"humidity":0.11,"pressure":1005.2,"windSpeed":9.29,"windGust":19.52,"windBearing":195,"cloudCover":0,"uvIndex":1,"visibility":10,"ozone":360.9},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1579035600,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":58.44,"apparentTemperature":58.44,"dewPoint":4.27,"humidity":0.11,"pressure":1005.1,"windSpeed":8.98,"windGust":19.25,"windBearing":231,"cloudCover":0,"uvIndex":1,"visibility":10,"ozone":361},{"time":1579039200,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":56.63,"apparentTemperature":56.63,"dewPoint":5.11,"humidity":0.12,"pressure":1005.8,"windSpeed":9.56,"windGust":19.48,"windBearing":156,"cloudCover":0,"uvIndex":1,"visibility":10,"ozone":360.1},{"time":1579042800,"summary":"Clear","icon":"clear-day","precipIntensity":0.0016,"precipProbability":0.01,"precipType":"rain","temperature":52.45,"apparentTemperature":52.45,"dewPoint":8.44,"humidity":0.17,"pressure":1006.8,"windSpeed":8.51,"windGust":19.9,"windBearing":206,"cloudCover":0.01,"uvIndex":0,"visibility":10,"ozone":358.3},{"time":1579046400,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":47.07,"apparentTemperature":44.41,"dewPoint":2.55,"humidity":0.16,"pressure":1008.4,"windSpeed":5.6,"windGust":14.55,"windBearing":245,"cloudCover":0,"uvIndex":0,"visibi[...]
[...]
