---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_GEOCODE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Sun, 12 Jan 2020 20:44:33 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY>/39.7392358,-104.990251?exclude=minutely,flags&units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 744ms
      X-Forecast-Api-Calls:
      - '37'
      X-Response-Time:
      - 64.332ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1578861873,"summary":"Clear","icon":"clear-day","nearestStormDistance":9,"nearestStormBearing":255,"precipIntensity":0,"precipProbability":0,"temperature":45.33,"apparentTemperature":43.22,"dewPoint":-0.51,"humidity":0.14,"pressure":1012,"windSpeed":4.33,"windGust":9.99,"windBearing":330,"cloudCover":0.26,"uvIndex":1,"visibility":10,"ozone":381.3},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1578859200,"summary":"Clear","icon":"clear-day","precipIntensity":0.0004,"precipProbability":0.02,"precipType":"rain","temperature":44.73,"apparentTemperature":42.85,"dewPoint":-0.01,"humidity":0.15,"pressure":1012.5,"windSpeed":3.92,"windGust":9.15,"windBearing":11,"cloudCover":0.13,"uvIndex":2,"visibility":10,"ozone":378.5},{"time":1578862800,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":45.31,"apparentTemperature":43.08,"dewPoint":-0.34,"humidity":0.15,"pressure":1011.9,"windSpeed":4.48,"windGust":10.13,"windBearing":317,"cloudCover":0.31,"uvIndex":1,"vis[...]
