---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=denver,co&key=<GOOGLE_GEOCODE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Denver",
                       "short_name" : "Denver",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Denver County",
                       "short_name" : "Denver County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Colorado",
                       "short_name" : "CO",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Denver, CO, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    },
                    "location" : {
                       "lat" : 39.7392358,
                       "lng" : -104.990251
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 39.91424689999999,
                          "lng" : -104.6002959
                       },
                       "southwest" : {
                          "lat" : 39.614431,
                          "lng" : -105.109927
                       }
                    }
                 },
                 "place_id" : "ChIJzxcfI6qAa4cR1jaKJ_j0jhE",
                 "types" : [ "locality", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 14 Jan 2020 21:28:46 GMT
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY>/39.7392358,-104.990251?exclude=minutely,flags&units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 148ms
      X-Forecast-Api-Calls:
      - '71'
      X-Response-Time:
      - 56.766ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":39.7392358,"longitude":-104.990251,"timezone":"America/Denver","currently":{"time":1579037327,"summary":"Clear","icon":"clear-day","nearestStormDistance":9,"nearestStormBearing":259,"precipIntensity":0,"precipProbability":0,"temperature":57.84,"apparentTemperature":57.84,"dewPoint":4.48,"humidity":0.11,"pressure":1005.3,"windSpeed":9.41,"windGust":19.44,"windBearing":177,"cloudCover":0,"uvIndex":1,"visibility":10,"ozone":360.7},"hourly":{"summary":"Clear
        throughout the day.","icon":"clear-day","data":[{"time":1579035600,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":58.44,"apparentTemperature":58.44,"dewPoint":4.27,"humidity":0.11,"pressure":1005.1,"windSpeed":8.98,"windGust":19.25,"windBearing":231,"cloudCover":0,"uvIndex":1,"visibility":10,"ozone":361},{"time":1579039200,"summary":"Clear","icon":"clear-day","precipIntensity":0,"precipProbability":0,"temperature":56.63,"apparentTemperature":56.63,"dewPoint":5.11,"humidity":0.12,"pressure":1005.8,"windSpeed":9.56,"windGust":19.48,"windBearing":156,"cloudCover":0,"uvIndex":1,"visibility":10,"ozone":360.1},{"time":1579042800,"summary":"Clear","icon":"clear-day","precipIntensity":0.0015,"precipProbability":0.01,"precipType":"rain","temperature":52.82,"apparentTemperature":52.82,"dewPoint":8.92,"humidity":0.17,"pressure":1006.7,"windSpeed":8.52,"windGust":21.28,"windBearing":196,"cloudCover":0.01,"uvIndex":0,"visibility":10,"ozone":358.3},{"time":1579046400,"summary":"Clear","icon":"clear-night","precipIntensity":0,"precipProbability":0,"temperature":47.47,"apparentTemperature":44.91,"dewPoint":3.27,"humidity":0.16,"pressure":1008.4,"windSpeed":5.56,"windGust":15.52,"windBearing":250,"cloudCover":0,"uvIndex":0,"visi[...]
