---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=hong%20kong&key=<GOOGLE_GEOCODE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Hong Kong",
                       "short_name" : "HK",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Hong Kong",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 22.5619469,
                          "lng" : 114.4294999
                       },
                       "southwest" : {
                          "lat" : 22.1435,
                          "lng" : 113.8259001
                       }
                    },
                    "location" : {
                       "lat" : 22.3193039,
                       "lng" : 114.1693611
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 22.5619469,
                          "lng" : 114.4294999
                       },
                       "southwest" : {
                          "lat" : 22.1435,
                          "lng" : 113.8259001
                       }
                    }
                 },
                 "place_id" : "ChIJD5gyo-3iAzQRfMnq27qzivA",
                 "types" : [ "country", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Tue, 14 Jan 2020 21:19:29 GMT
- request:
    method: get
    uri: http://amypode.herokuapp.com/api/v1/antipodes?lat=22.3193039&long=114.1693611
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<ANTIPODE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44fbfaaa09d0c593056cbd5360c77c9c"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"antipode","attributes":{"lat":-22.3193039,"long":-65.8306389}}}'
  recorded_at: Tue, 14 Jan 2020 21:19:29 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=<GOOGLE_GEOCODE_API_KEY>&latlng=-22.3193039,%20-65.8306389
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "compound_code" : "M5J9+7P Cerrillos, Jujuy, Argentina",
              "global_code" : "579PM5J9+7P"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Ruta Provincial 69",
                       "short_name" : "RP69",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Yavi",
                       "short_name" : "Yavi",
                       "types" : [ "administrative_area_level_2", "political" ]
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY>/-22.3193039,-65.8306389?exclude=minutely,flags&units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 688ms
      X-Forecast-Api-Calls:
      - '68'
      X-Response-Time:
      - 38.417ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":-22.3193039,"longitude":-65.8306389,"timezone":"America/La_Paz","currently":{"time":1579036769,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0032,"precipProbability":0.1,"precipType":"rain","temperature":63.38,"apparentTemperature":63.38,"dewPoint":42.04,"humidity":0.46,"pressure":1003.4,"windSpeed":13.8,"windGust":15.07,"windBearing":13,"cloudCover":0.98,"uvIndex":2,"visibility":8.553,"ozone":248.3},"hourly":{"summary":"Possible
        light rain tonight.","icon":"rain","data":[{"time":1579035600,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0017,"precipProbability":0.09,"precipType":"rain","temperature":64.2,"apparentTemperature":64.2,"dewPoint":41.48,"humidity":0.43,"pressure":1003,"windSpeed":13.59,"windGust":14.73,"windBearing":15,"cloudCover":0.94,"uvIndex":2,"visibility":8.835,"ozone":248.2},{"time":1579039200,"summary":"Overcast","icon":"cloudy","precipIntensity":0.0087,"precipPro[...]
