---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=hong%20kong&key=<GOOGLE_GEOCODE_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Hong Kong",
                       "short_name" : "HK",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Hong Kong",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 22.5619469,
                          "lng" : 114.4294999
                       },
                       "southwest" : {
                          "lat" : 22.1435,
                          "lng" : 113.8259001
                       }
                    },
                    "location" : {
                       "lat" : 22.3193039,
                       "lng" : 114.1693611
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 22.5619469,
                          "lng" : 114.4294999
                       },
                       "southwest" : {
                          "lat" : 22.1435,
                          "lng" : 113.8259001
                       }
                    }
                 },
                 "place_id" : "ChIJD5gyo-3iAzQRfMnq27qzivA",
                 "types" : [ "country", "political" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Mon, 13 Jan 2020 18:48:07 GMT
- request:
    method: get
    uri: http://amypode.herokuapp.com/api/v1/antipodes?lat=22.3193039&long=114.1693611
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Api-Key:
      - "<ANTIPODE_API_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"44fbfaaa09d0c593056cbd5360c77c9c"
    body:
      encoding: UTF-8
      string: '{"data":{"id":"1","type":"antipode","attributes":{"lat":-22.3193039,"long":-65.8306389}}}'
  recorded_at: Mon, 13 Jan 2020 18:48:07 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=<GOOGLE_GEOCODE_API_KEY>&latlng=-22.3193039,%20-65.8306389
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "compound_code" : "M5J9+7P Cerrillos, Jujuy, Argentina",
              "global_code" : "579PM5J9+7P"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Ruta Provincial 69",
                       "short_name" : "RP69",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Yavi",
                       "short_name" : "Yavi",
                       "types" : [ "administrative_area_level_2", "political" ]
[...]
- request:
    method: get
    uri: https://api.darksky.net/forecast/<DARK_SKY_API_KEY>/-22.3193039,-65.8306389?exclude=minutely,flags&units=us
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Authentication-Time:
      - 758ms
      X-Forecast-Api-Calls:
      - '121'
      X-Response-Time:
      - 99.602ms
    body:
      encoding: ASCII-8BIT
      string: '{"latitude":-22.3193039,"longitude":-65.8306389,"timezone":"America/La_Paz","currently":{"time":1578941287,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0.0049,"precipProbability":0.11,"precipType":"rain","temperature":63.47,"apparentTemperature":63.47,"dewPoint":43.43,"humidity":0.48,"pressure":1007.5,"windSpeed":7.89,"windGust":7.89,"windBearing":22,"cloudCover":0.86,"uvIndex":7,"visibility":10,"ozone":240.7},"hourly":{"summary":"Possible
        light rain tonight.","icon":"rain","data":[{"time":1578938400,"summary":"Mostly
        Cloudy","icon":"partly-cloudy-day","precipIntensity":0.0056,"precipProbability":0.13,"precipType":"rain","temperature":62.57,"apparentTemperature":62.57,"dewPoint":43.16,"humidity":0.49,"pressure":1008.7,"windSpeed":7.23,"windGust":7.23,"windBearing":23,"cloudCover":0.71,"uvIndex":10,"visibility":10,"ozone":241.1},{"time":1578942000,"summary":"Overcast","icon":"cloudy","precipInte[...]
